.main_background{

display: flex;
width: 100%;
height: 100%;
background-color: rgb(236, 226, 230);
background-position: center;
background-size: cover;
justify-content: center;

}

.container{
    position: relative;
    top: 10%;
    display: flex;
    flex-direction: column;
    background-color:white;
    width: 80%;
    height: 65%;  
    border-radius: 40px;  
    align-items: center;
   	
    }
    
    .child{
    display: flex;
    position: relative;
    color: white;
    font-size: 2vw;
    border-color: rgb(177, 174, 174);
    width: auto;
    height:auto ;
    top: 10%;
    justify-content: center;
    align-items: center;	
	   
    }
        .photo{
            background: url("girlexample.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 40px;
            width: 80%;
            height: 35%;       
        }
        .content{
            color: black;   
             position: relative;
             top: 15%;
             width: 80%;
             height: 30%;
             border-color: rgb(173, 167, 167);
             
             display: flex;
             flex-direction: column;
             
        }


    .info{
        display: flex;
        
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        
        



    }
        .nick{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size: 5vw;
            letter-spacing: 2pt; 
        }
        .nick_description{
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            font-size: 3vw;
            color:rgb(204, 198, 198);
            word-spacing: 5pt;        /* para separacion entre palabras */   
            line-height: 35pt;  
        }
    
        #dualbox{
            display: flex;
            flex-direction: row;
            justify-content: space-around;   
        }

        .content_years{
            font-size: 3vw;
            font-family: Arial, Helvetica, sans-serif;
        }
        .content_skill{
            font-size: 3vw;
            color: rgb(153, 204, 187);
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;


        }